
.clear{clear: both;}
/* wrapper start*************/
.wrapper{
    width:100%;
    height: auto;
    border: 1px solid red;
    padding: 0;
    margin: 0;
}

/* header start*************/
.wrapper header{
    width:100%;
    height:500px;
    padding: 0;
    margin: 0;
}

/* left_header start*************/
.wrapper header .left_header{
    width: 900px;
    height: 500px;
    float: left;
    background-color: #e9eae2;
    background-image: url("../images/left_header.png");
    background-position: bottom right;
    background-repeat: no-repeat;
}

.wrapper header .left_header .logo{
    width: 160px;
    height: 500px;
    padding-left: 100px;
    padding-top: 50px;
}

.wrapper header .left_header .logo .header_paragraph{
    color: #000000;
    font-size: 18px;
    text-transform: uppercase;
    width: 90px;
    height: auto;
    font-family: "Myriad Pro";
}

.wrapper header .left_header .logo .social{
    width: 120px;
    height: auto;
    overflow: hidden;
    margin-top: 60px;
    margin-left: 20px;
}

.wrapper header .left_header .logo .social ul{
    margin: 0;
    padding: 0;
}
.wrapper header .left_header .logo .social ul li{
    list-style: none;
    float: left;
}
.wrapper header .left_header .logo .social ul li a {
    color: #7bcbc1;
    font-size: 23px;
    margin-right: 9px;
    transition: all 1s;
}
.wrapper header .left_header .logo .social ul li a:hover {
    color: #ebb240;
}

/*right_header***********/
.wrapper header .right_header{
    background-color: #7acec3;
    height: 500px;
    overflow: hidden;
    position: relative;
}

.wrapper header .right_header hr{
    position: absolute;
    width: 1140px;
    transform: rotate(-48deg);
    background-color: white;
   margin-left: -190px;
    margin-top: 76px;
    border: none;
}

/*menu************/

.wrapper header .right_header .menu_header{
    width: 300px;
    height: auto;
    z-index: 99999;
    position: absolute;
    overflow: hidden;
    margin-top: 30px;
}

.wrapper header .right_header .menu_header .dropdown{
    width: 125px;
    height:auto;
    overflow: hidden;
    float: right;
}

.wrapper header .right_header .menu_header .dropdown button{
    width:125px ;
    height: 125px;
    background-image: url("../images/menu.png");
    background-color: transparent;
    float: right;
    outline: none;
    border: none;
    background-repeat: no-repeat;
    cursor: pointer;
}

.wrapper header .right_header .menu_header .dropdown nav{
    width: 125px;
    height: auto;
    float: right;
    display:none;
    transition: all 1s;
}

.wrapper header .right_header .menu_header .dropdown nav ul{
    margin: 0;
    padding: 0;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.wrapper header .right_header .menu_header .dropdown nav ul li{
    list-style: none;
    background-color: white;
    border: 1px solid #eeeeee;
    padding: 5px;
    text-align: center;
    color:#60ccbe;
    margin-bottom: 2px;
}

.wrapper header .right_header .menu_header .dropdown nav ul li a{
    text-decoration: none;
    color:#60ccbe;
    font-family: "Myriad Pro";
}

.wrapper header .right_header .menu_header .dropdown nav ul li:hover{
    background-color: #f1f2f2;
}

.wrapper header .right_header .menu_header .dropdown nav ul li a:hover{
    color:#37ac9d;
}

.wrapper header .right_header .menu_header .dropdown:hover nav {
    display: block;
}

/*address*******/
.wrapper header .right_header .add_phone{
    width: 300px;
    height: auto;
    position: absolute;
    overflow: hidden;
    float: left;
    bottom:70px;
    left: 0;
}

.wrapper header .right_header .add_phone .address{
    width: 100px;
    height: auto;
    margin-left: 50px;
}

.wrapper header .right_header .add_phone .address p{
    color: white;
    font-family: "Myriad Pro";
    font-size: 13px;
}

/*phone*******/
.wrapper header .right_header .add_phone .phone{
    width: 150px;
    height: auto;
    float: right;
}

.wrapper header .right_header .add_phone .phone p{
    color: white;
    font-family: "Myriad Pro";
    font-size: 13px;
}




















