@font-face {
    font-family: RobotoCondensed-Regular;
    src: url("../fonts/RobotoCondensed-Regular.ttf");
}

@font-face {
    font-family: RobotoCondensed-Light;
    src: url("../fonts/RobotoCondensed-Light.ttf");
}

@font-face {
    font-family: RobotoCondensed-Bold;
    src: url("../fonts/RobotoCondensed-Bold.ttf");
}

@font-face {
    font-family: RobotoCondensed-BoldItalic;
    src: url("../fonts/RobotoCondensed-BoldItalic.ttf");
}

body{
    margin: 0 auto;
}

.clear{clear: both;}
/* wrapper start*************/
.wrapper{
    width:100%;
    height: auto;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

/* header section start*************/
.wrapper header{
    width:100%;
    height:500px;
    padding: 0;
    margin: 0;
}

/* left_header start*************/
.wrapper header .left_header{
    width: 900px;
    height: 500px;
    float: left;
    background-color: #e9eae2;
    background-image: url("../images/left_header.png");
    background-position: bottom right;
    background-repeat: no-repeat;
}

.wrapper header .left_header .logo{
    width: 160px;
    height: 500px;
    padding-left: 100px;
    padding-top: 50px;
}

.wrapper header .left_header .logo .header_paragraph{
    color: #000000;
    font-size: 18px;
    text-transform: uppercase;
    width: 90px;
    height: auto;
    font-family: "Myriad Pro";
}

.wrapper header .left_header .logo .social{
    width: 120px;
    height: auto;
    overflow: hidden;
    margin-top: 60px;
    margin-left: 20px;
}

.wrapper header .left_header .logo .social ul{
    margin: 0;
    padding: 0;
}
.wrapper header .left_header .logo .social ul li{
    list-style: none;
    float: left;
}
.wrapper header .left_header .logo .social ul li a {
    color: #7bcbc1;
    font-size: 23px;
    margin-right: 9px;
    transition: all 1s;
}
.wrapper header .left_header .logo .social ul li a:hover {
    color: #ebb240;
}

/*right_header***********/
.wrapper header .right_header{
    background-color: #7acec3;
    height: 500px;
    overflow: hidden;
    position: relative;
}

.wrapper header .right_header hr{
    position: absolute;
    width: 1140px;
    transform: rotate(-48deg);
    background-color: white;
   margin-left: -190px;
    margin-top: 76px;
    border: none;
}

/*menu************/

.wrapper header .right_header .menu_header{
    width: 300px;
    height: auto;
    z-index: 99999;
    position: absolute;
    overflow: hidden;
    margin-top: 30px;
}

.wrapper header .right_header .menu_header .dropdown{
    width: 125px;
    height:auto;
    overflow: hidden;
    float: right;
}

.wrapper header .right_header .menu_header .dropdown button{
    width:125px ;
    height: 125px;
    background-image: url("../images/menu.png");
    background-color: transparent;
    float: right;
    outline: none;
    border: none;
    background-repeat: no-repeat;
    cursor: pointer;
}

.wrapper header .right_header .menu_header .dropdown nav{
    width: 125px;
    height: auto;
    float: right;
    display:none;
    transition: all 1s;
}

.wrapper header .right_header .menu_header .dropdown nav ul{
    margin: 0;
    padding: 0;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.wrapper header .right_header .menu_header .dropdown nav ul li{
    list-style: none;
    background-color: white;
    border: 1px solid #eeeeee;
    padding: 5px;
    text-align: center;
    color:#60ccbe;
    margin-bottom: 2px;
}

.wrapper header .right_header .menu_header .dropdown nav ul li a{
    text-decoration: none;
    color:#60ccbe;
    font-family: "Myriad Pro";
}

.wrapper header .right_header .menu_header .dropdown nav ul li:hover{
    background-color: #f1f2f2;
}

.wrapper header .right_header .menu_header .dropdown nav ul li a:hover{
    color:#37ac9d;
}

.wrapper header .right_header .menu_header .dropdown:hover nav {
    display: block;
}

/*address*******/
.wrapper header .right_header .add_phone{
    width: 300px;
    height: auto;
    position: absolute;
    overflow: hidden;
    float: left;
    bottom:70px;
    left: 0;
}

.wrapper header .right_header .add_phone .address{
    width: 100px;
    height: auto;
    margin-left: 50px;
}

.wrapper header .right_header .add_phone .address p{
    color: white;
    font-family: "Myriad Pro";
    font-size: 13px;
}

/*phone*******/
.wrapper header .right_header .add_phone .phone{
    width: 150px;
    height: auto;
    float: right;
}

.wrapper header .right_header .add_phone .phone p{
    color: white;
    font-family: "Myriad Pro";
    font-size: 13px;
}


/*projects section************/
.wrapper .projects{
    width:900px;
    height:500px;
    padding: 0;
    margin: 0;
    display: inline-block;
}
/*project************/
.wrapper .projects .project{
    width: 400px;
    height: 504px;
    float: left;
    background-color: #ebb240;
    overflow: hidden;
    position: relative;
}

.wrapper .projects .project hr{
    position: absolute;
    width: 1076px;
    transform: rotate(-52deg);
    background-color: white;
    margin-left: -208px;
    margin-top: 85px;
    border: none;
}

.wrapper .projects .project .project_data{
    width: 130px;
    height: 95px;
    position: absolute;
    z-index: 999999;
    margin-left: 70px;
    margin-top: 150px;
}

.wrapper .projects .project .project_data .left_data{
    float: left;
    width: 50px;
    height: 95px;
}
.wrapper .projects .project .project_data .left_data i{
    color: #ffffff;
    animation: moving 1s infinite;
    position: relative;
    font-size: 22px;
}

@keyframes moving {
    0%{left:0px; opacity: 0.2;}
    100%{ left: 30px; opacity: 1;}
}


.wrapper .projects .project .project_data .right_data{
    width: 70px;
    height: 95px;
    float: right;
    text-align: left;
}

.wrapper .projects .project .project_data .right_data p span{
    color: #000000;
    font-family: "Myriad Pro";
    font-size: 18px;
    width: 100%;
    margin: 0;
}

.wrapper .projects .project .project_data .right_data p{
    color: #ffffff;
    font-family: "Myriad Pro";
    font-size: 14px;
    margin: 0;
}

.wrapper .projects .project .project_title{
    width: auto;
    height:auto;
    position: absolute;
    z-index: 99999;
    overflow: hidden;
    right:30px;
    bottom:150px;
}

.wrapper .projects .project .project_title h1{
    color: #ffffff;
    font-size: 45px;
    text-transform: uppercase;
    font-family: RobotoCondensed-Light;
    margin: 0;
}

/*Fondue srart*******/
.wrapper .projects .Fondue{
    width: 500px;
    height: 504px;
    float: left;
    overflow: hidden;
    position: relative;
    background-image: url("../images/Fondue_img.jpg");
    background-repeat: no-repeat;
    background-position:right ;
}

.wrapper .projects .Fondue .Fondue_data{
    width: 210px;
    height: auto;
    margin-left: 50px;
    margin-top: 50px;
}

.wrapper .projects .Fondue .Fondue_data h1{
    font-family: RobotoCondensed-Light;
    color:black;
    font-size: 25px;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 10px;
}

.wrapper .projects .Fondue .Fondue_data ul{
    margin: 0;
    padding: 0;
}

.wrapper .projects .Fondue .Fondue_data ul li{
    list-style: none;
    font-family: RobotoCondensed-Light;
    font-size: 14px;
    line-height: 16px;
}

.wrapper .projects .Fondue .Fondue_data ul li span{
    list-style: none;
    font-family: RobotoCondensed-Light;
    font-size: 14px;
    font-weight: bold;
}

.wrapper .projects .Fondue .Fondue_data .Fondue_view{
    width: 100%;
    height: auto;
    overflow: hidden;
    margin-top: 80px;
}
.wrapper .projects .Fondue .Fondue_data .Fondue_view .left_data{
    float: left;
    width: 50px;
    height: auto;
}

.wrapper .projects .Fondue .Fondue_data .Fondue_view .left_data i{
    color: #ebb240;
    animation: moving 1s infinite;
    position: relative;
    font-size: 22px;
}

@keyframes moving {
    0%{left:0px; opacity: 0.2;}
    100%{ left: 30px; opacity: 1;}
}

.wrapper .projects .Fondue .Fondue_data .Fondue_view .right_data{
    width: auto;
    height:auto;
    float: left;
    text-align: left;
    margin-left: 10px;
}

.wrapper .projects .Fondue .Fondue_data .Fondue_view .right_data p {
    color: #000000;
    font-family: RobotoCondensed-Light;
    font-size: 22px;
    width: 100%;
    margin: 0;
}

.wrapper .projects .Fondue .Fondue_data .Fondue_view .Fondue_like{
    width: 100%;
    height: auto;
    text-align: center;
    margin-top: 130px;
}

.wrapper .projects .Fondue .Fondue_data .Fondue_view .Fondue_like i{
    color: black;
    font-size: 20px;
}
.wrapper .projects .Fondue .Fondue_data .Fondue_view .Fondue_like p{
    color: red;
    font-family: RobotoCondensed-Light;
    margin-top: 5px;
}




/*right_projects section*******/
.wrapper .right_projects{
    width:449px;
    height:auto;
    padding: 0;
    margin: 0;
    float: right;
}

/*potter started********/
.wrapper .right_projects .potter{
    height:270px;
    background-color: #dfe0d9;
    width: 100%;
    float: right;
    background-image: url("../images/potter.jpg");
    background-repeat: no-repeat;
    background-position: right;
}

.wrapper .right_projects .potter .potter_data{
    width: 150px;
    height: auto;
    margin-left: 30px;
}

.wrapper .right_projects .potter .potter_data h1{
    font-family: RobotoCondensed-Light;
    color:black;
    font-size: 25px;
    text-transform: uppercase;
    margin-bottom: 10px;
    margin-top: 30px;
}
.wrapper .right_projects .potter .potter_data p{
    font-family: RobotoCondensed-Light;
    color:black;
    font-size: 13px;
}
.wrapper .right_projects .potter .potter_data p span{
    color:black;
    font-size: 13px;
    font-family: RobotoCondensed-Bold;
    text-transform: uppercase;
}
.wrapper .right_projects .potter .potter_data .potter_view{
    width: 100%;
    height: auto;
    overflow: hidden;
}
.wrapper .right_projects .potter .potter_data .potter_view .left_data{
    float: left;
    width: 50px;
    height: auto;
}
.wrapper .right_projects .potter .potter_data .potter_view .left_data i{
    color: #ebb240;
    animation: moving 1s infinite;
    position: relative;
    font-size: 22px;
}

@keyframes moving {
    0%{left:0px; opacity: 0.2;}
    100%{ left: 30px; opacity: 1;}
}

.wrapper .right_projects .potter .potter_data .potter_view .right_data{
    width: auto;
    height:auto;
    float: left;
    text-align: left;
    margin-left: 10px;
}

.wrapper .right_projects .potter .potter_data .potter_view .right_data p{
    color: #000000;
    font-family: RobotoCondensed-Light;
    font-size: 19px;
    width: 100%;
    margin: 0;
}

.wrapper .right_projects .potter .potter_data .potter_view .potter_like{
    width: 100%;
    height: auto;
    text-align: center;
    margin-top: 20px;
}
.wrapper .right_projects .potter .potter_data .potter_view .potter_like i{
    color: black;
    font-size: 20px;
}
.wrapper .right_projects .potter .potter_data .potter_view .potter_like p{
    color: red;
    font-family: RobotoCondensed-Light;
    margin-top: 5px;
}


/*tabano started********/
.wrapper .right_projects .tabano{
    height:500px;
    background-color: #f7f7f3;
    width: 100%;
    float: right;
    background-image: url("../images/tabano.jpg");
    background-repeat: no-repeat;
    background-position: top center;
    position: relative;
}

.wrapper .right_projects .tabano .tabano_data{
    width: 100%;
    height: auto;
    position: absolute;
    bottom: 40px;
    left: 0;
    float: left;
}

.wrapper .right_projects .tabano .tabano_data ul{
    margin: 0;
    padding: 0;
    width: 182px!important;
    padding-left: 20px;
    display: inline-block;
    float: left;
}
.wrapper .right_projects .tabano .tabano_data ul li{
    list-style: none;
    font-family: RobotoCondensed-Light;
    font-size: 12px;
    line-height: 16px;
}
.wrapper .right_projects .tabano .tabano_data ul li span{
    list-style: none;
    font-family: RobotoCondensed-Bold;
    font-size: 12px;
}

.wrapper .right_projects .tabano .tabano_data .tabano_arrow{
    width: 165px;
    height: 30px;
    float: left;
    margin-left: 10px;
}

.wrapper .right_projects .tabano .tabano_data .tabano_arrow .left_data{
    float: left;
    width: 50px;
    height: auto;
}
.wrapper .right_projects .tabano .tabano_data .tabano_arrow .left_data i{
    color: #ebb240;
    animation: moving 1s infinite;
    position: relative;
    font-size: 22px;
    float: left;
}

@keyframes moving {
    0%{left:0px; opacity: 0.2;}
    100%{ left: 30px; opacity: 1;}
}

.wrapper .right_projects .tabano .tabano_data .tabano_arrow .right_data{
    width: 110px;
    height: auto;
    float: right;
}

.wrapper .right_projects .tabano .tabano_data .tabano_arrow .right_data p{
    float: right;
    color: #000000;
    font-family: RobotoCondensed-Light;
    font-size: 20px;
    width: 100%;
    margin: 0;
}

.wrapper .right_projects .tabano .tabano_data .tabano_like{
    width:35px;
    height:auto;
    float: left;
    text-align: center;
}

.wrapper .right_projects .tabano .tabano_data .tabano_like i{
    color: black;
    font-size: 20px;
}

.wrapper .right_projects .tabano .tabano_data .tabano_like p{
    color: red;
    font-family: RobotoCondensed-Light;
    margin-top: 5px;
}

/*fiji started************/
.wrapper .right_projects .fiji{
    height:250px;
    background-color: #ffffff;
    width: 100%;
    float: right;
    background-image: url("../images/fiji.jpg");
    background-repeat: no-repeat;
    background-position: left center;
}
.wrapper .right_projects .fiji .fiji_data{
    width: 200px;
    height: 300px;
    margin-top: 30px;
    float: right;
}

.wrapper .right_projects .fiji .fiji_data h1{
    font-family: RobotoCondensed-Light;
    color:black;
    font-size: 25px;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 10px;
    margin-left: 50px;
}

.wrapper .right_projects .fiji .fiji_data ul{
    padding: 0;
    margin: 0;
    margin-left: 50px;
}

.wrapper .right_projects .fiji .fiji_data ul li{
    list-style: none;
    font-family: RobotoCondensed-Light;
    font-size: 14px;
    line-height: 16px;
    color: black;
}

.wrapper .right_projects .fiji .fiji_data ul li span{
    list-style: none;
    font-family: RobotoCondensed-Light;
    font-size: 14px;
    font-weight: bold;
}


.wrapper .right_projects .fiji .fiji_data .fiji_view{
    width: 100%;
    height: auto;
    text-align: center;
    overflow: hidden;
    margin-top: 20px;
}
.wrapper .right_projects .fiji .fiji_data .fiji_view .left_data{
    float: left;
    width: 50px;
    height: auto;
}

.wrapper .right_projects .fiji .fiji_data .fiji_view .left_data i{
    color: #ebb240;
    animation: moving 1s infinite;
    position: relative;
    font-size: 22px;
}
.wrapper .right_projects .fiji .fiji_data .fiji_view .right_data{
    width: auto;
    height:auto;
    float: left;
    text-align: left;
}

.wrapper .right_projects .fiji .fiji_data .fiji_view .right_data p{
    color: black;
    font-family: RobotoCondensed-Light;
    font-size: 22px;
    width: 100%;
    margin: 0;
    margin-left: 30px;
}

.wrapper .right_projects .fiji .fiji_data .fiji_view .right_data p a{
    color: black;
    font-family: RobotoCondensed-Light;
    font-size: 22px;
    width: 100%;
    margin: 0;
    text-decoration: none;
}

.wrapper .right_projects .fiji .fiji_data .fiji_view .fiji_like{
    width: 100%;
    height: auto;
    text-align: center;
    margin-top: 10px;
}

.wrapper .right_projects .fiji .fiji_data .fiji_view .fiji_like i{
    color: black;
    font-size: 20px;
}
.wrapper .right_projects .fiji .fiji_data .fiji_view .fiji_like p{
    color: red;
    font-family: RobotoCondensed-Light;
    margin-top: 5px;
}


/*louis section**********************/
.wrapper .louis_xx{
    width:900px;
    height:516px;
    padding: 0;
    margin: 0;
    float: left;
    overflow: hidden;
}

.wrapper .louis_xx .louis{
    width: 299px;
    height: 516px;
    background-image: url("../images/louis.jpg");
    float: left;
    background-position: bottom center;
    background-repeat: no-repeat;
}

.wrapper .louis_xx .louis .louis_data{
    width: 200px;
    height: 300px;
    margin-top: 30px;
}

.wrapper .louis_xx .louis .louis_data h1{
    font-family: RobotoCondensed-Light;
    color:white;
    font-size: 25px;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 10px;
    margin-left: 50px;
}

.wrapper .louis_xx .louis .louis_data ul{
    padding: 0;
    margin: 0;
    margin-left: 50px;
}

.wrapper .louis_xx .louis .louis_data ul li{
    list-style: none;
    font-family: RobotoCondensed-Light;
    font-size: 14px;
    line-height: 16px;
    color: white;
}

.wrapper .louis_xx .louis .louis_data ul li span{
    list-style: none;
    font-family: RobotoCondensed-Light;
    font-size: 14px;
    font-weight: bold;
}


.wrapper .louis_xx .louis .louis_data .louis_view{
    width: 100%;
    height: auto;
    text-align: center;
    overflow: hidden;
    margin-top: 50px;
}
.wrapper .louis_xx .louis .louis_data .louis_view .left_data{
    float: left;
    width: 50px;
    height: auto;
}

.wrapper .louis_xx .louis .louis_data .louis_view .left_data i{
    color: #ebb240;
    animation: moving 1s infinite;
    position: relative;
    font-size: 22px;
}
.wrapper .louis_xx .louis .louis_data .louis_view .right_data{
    width: auto;
    height:auto;
    float: left;
    text-align: left;
}

.wrapper .louis_xx .louis .louis_data .louis_view .right_data p{
    color: white;
    font-family: RobotoCondensed-Light;
    font-size: 22px;
    width: 100%;
    margin: 0;
    margin-left: 30px;
}

.wrapper .louis_xx .louis .louis_data .louis_view .right_data p a{
    color: white;
    font-family: RobotoCondensed-Light;
    font-size: 22px;
    width: 100%;
    margin: 0;
    text-decoration: none;
}

.wrapper .louis_xx .louis .louis_data .louis_view .louis_like{
    width: 100%;
    height: auto;
    text-align: center;
    margin-top: 30px;
}

.wrapper .louis_xx .louis .louis_data .louis_view .louis_like i{
    color: white;
    font-size: 20px;
}
.wrapper .louis_xx .louis .louis_data .louis_view .louis_like p{
    color: red;
    font-family: RobotoCondensed-Light;
    margin-top: 5px;
}



/*louis_P22***********************************/
.wrapper .louis_xx .louis_P22{
    float: left;
    background: #eaeaea;
    width: 601px;
    height:516px;
    background-image: url("../images/louis_P22.jpg");
    background-repeat: no-repeat;
    background-position: left bottom;
}
.wrapper .louis_xx .louis_P22 .louis_P22_data{
    width: 400px;
    height: auto;
    float: right;
    margin-top: 120px;
}
.wrapper .louis_xx .louis_P22 .louis_P22_data .left_louis_P22{
    width: auto;
    height: auto;
    float: left;
}

.wrapper .louis_xx .louis_P22 .louis_P22_data .left_louis_P22 h1{
    font-family: RobotoCondensed-Light;
    color:black;
    font-size: 25px;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 10px;
}

.wrapper .louis_xx .louis_P22 .louis_P22_data .left_louis_P22 ul{
    padding: 0;
    margin: 0;
}
.wrapper .louis_xx .louis_P22 .louis_P22_data .left_louis_P22 ul li{
    list-style: none;
    font-family: RobotoCondensed-Light;
    font-size: 14px;
    line-height: 16px;
}
.wrapper .louis_xx .louis_P22 .louis_P22_data .left_louis_P22 ul li span{
    list-style: none;
    font-family: RobotoCondensed-Light;
    font-size: 14px;
    font-weight: bold;
}

.wrapper .louis_xx .louis_P22 .louis_P22_data .right_louis_P22{
    width: auto;
    height: auto;
    float: left;
    margin-left: 30px;
}
.wrapper .louis_xx .louis_P22 .louis_P22_data .right_louis_P22 .left_data{
    float: left;
    width: 50px;
    height: auto;
}
.wrapper .louis_xx .louis_P22 .louis_P22_data .right_louis_P22 .left_data i{
    color: #ebb240;
    animation: moving 1s infinite;
    position: relative;
    font-size: 22px;
}
.wrapper .louis_xx .louis_P22 .louis_P22_data .right_louis_P22 .right_data{
    width: auto;
    height:auto;
    float: left;
    text-align: left;
    margin-left: 10px;
}
.wrapper .louis_xx .louis_P22 .louis_P22_data .right_louis_P22 .right_data p{
    color: #000000;
    font-family: RobotoCondensed-Light;
    font-size: 22px;
    width: 100%;
    margin: 0;
}

.wrapper .louis_xx .louis_P22 .louis_P22_data .right_louis_P22 .right_data p a{
    color: #000000;
    font-family: RobotoCondensed-Light;
    font-size: 22px;
    width: 100%;
    margin: 0;
    text-decoration: none;
}
.wrapper .louis_xx .louis_P22 .louis_P22_data .right_louis_P22 .louis_like{
    width: 100%;
    height: auto;
    text-align: center;
    margin-top: 20px;
}
.wrapper .louis_xx .louis_P22 .louis_P22_data .right_louis_P22 .louis_like i{
    color: black;
    font-size: 22px;
}
.wrapper .louis_xx .louis_P22 .louis_P22_data .right_louis_P22 .louis_like p{
    color: red;
    font-family: RobotoCondensed-Light;
    margin-top: 5px;
}





/*fourth_section********/
.wrapper .fourth_section{
    width:100%;
    height:300px;
    padding: 0;
    margin: 0;
    overflow: hidden;
}
/*Sesann started***********/
.wrapper .fourth_section .Sesann{
    width: 595px;
    height: 300px;
    float: left;
    background-image: url("../images/Sesann.jpg");
    background-position: top center;
    background-repeat: no-repeat;
    overflow: hidden;
}

.wrapper .fourth_section .Sesann .Sesann_data{
    width: 100%;
    height: auto;
    left: 0;
    overflow: hidden;
    margin-top: 200px;
}
.wrapper .fourth_section .Sesann .Sesann_data ul{
    margin: 0;
    padding: 0;
    width: 182px!important;
    padding-left:80px;
    display: inline-block;
    float: left;
}
.wrapper .fourth_section .Sesann .Sesann_data ul li{
    list-style: none;
    font-family: RobotoCondensed-Light;
    font-size: 12px;
    line-height: 16px;
}
.wrapper .fourth_section .Sesann .Sesann_data ul li span{
    list-style: none;
    font-family: RobotoCondensed-Bold;
    font-size: 12px;
}
.wrapper .fourth_section .Sesann .Sesann_data .Sesann_arrow{
    width: 165px;
    height: 30px;
    float: left;
    margin-left: 10px;
}
.wrapper .fourth_section .Sesann .Sesann_data .Sesann_arrow .left_data{
    float: left;
    width: 50px;
    height: auto;
}
.wrapper .fourth_section .Sesann .Sesann_data .Sesann_arrow .left_data i{
    color: #ebb240;
    animation: moving 1s infinite;
    position: relative;
    font-size: 22px;
    float: left;
}
.wrapper .fourth_section .Sesann .Sesann_data .Sesann_arrow .right_data{
    width: 110px;
    height: auto;
    float: right;
}
.wrapper .fourth_section .Sesann .Sesann_data .Sesann_arrow .right_data p{
    float: right;
    color: #000000;
    font-family: RobotoCondensed-Light;
    font-size: 20px;
    width: 100%;
    margin: 0;
}
.wrapper .fourth_section .Sesann .Sesann_data .Sesann_like{
    width:35px;
    height:auto;
    float: left;
    text-align: center;
}
.wrapper .fourth_section .Sesann .Sesann_data .Sesann_like i{
    color: black;
    font-size: 20px;
}
.wrapper .fourth_section .Sesann .Sesann_data .Sesann_like p{
    color: red;
    font-family: RobotoCondensed-Light;
    margin-top: 5px;
}

    /*Alessi started**************/
.wrapper .fourth_section .Alessi{
    width: 304px;
    height: 300px;
    float: left;
    background-image: url("../images/Alessi.jpg");
    background-position: left;
    background-repeat: no-repeat;
}

.wrapper .fourth_section .Alessi .Alessi_data{
    width: 200px;
    height: 300px;
    margin-top: 30px;
    float: right;
}
.wrapper .fourth_section .Alessi .Alessi_data h1{
    font-family: RobotoCondensed-Light;
    color:black;
    font-size: 25px;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 10px;
    margin-left: 50px;
}
.wrapper .fourth_section .Alessi .Alessi_data ul{
    padding: 0;
    margin: 0;
    margin-left: 50px;
}
.wrapper .fourth_section .Alessi .Alessi_data ul li{
    list-style: none;
    font-family: RobotoCondensed-Light;
    font-size: 14px;
    line-height: 16px;
    color: black;
}
.wrapper .fourth_section .Alessi .Alessi_data ul li span{
    list-style: none;
    font-family: RobotoCondensed-Light;
    font-size: 14px;
    font-weight: bold;
}
.wrapper .fourth_section .Alessi .Alessi_data .Alessi_view{
    width: 100%;
    height: auto;
    text-align: center;
    overflow: hidden;
    margin-top: 20px;
}
.wrapper .fourth_section .Alessi .Alessi_data .Alessi_view .left_data{
    float: left;
    width: 50px;
    height: auto;
}
.wrapper .fourth_section .Alessi .Alessi_data .Alessi_view .left_data i{
    color: #ebb240;
    animation: moving 1s infinite;
    position: relative;
    font-size: 22px;
}
.wrapper .fourth_section .Alessi .Alessi_data .Alessi_view .right_data{
    width: auto;
    height:auto;
    float: left;
    text-align: left;
}
.wrapper .fourth_section .Alessi .Alessi_data .Alessi_view .right_data p{
    color: black;
    font-family: RobotoCondensed-Light;
    font-size: 22px;
    width: 100%;
    margin: 0;
    margin-left: 30px;
}
.wrapper .fourth_section .Alessi .Alessi_data .Alessi_view .right_data p a{
    color: black;
    font-family: RobotoCondensed-Light;
    font-size: 22px;
    width: 100%;
    margin: 0;
    text-decoration: none;
}
.wrapper .fourth_section .Alessi .Alessi_data .Alessi_view .Alessi_like{
    width: 100%;
    height: auto;
    text-align: center;
    margin-top: 10px;
}
.wrapper .fourth_section .Alessi .Alessi_data .Alessi_view .Alessi_like i{
    color: black;
    font-size: 20px;
}
.wrapper .fourth_section .Alessi .Alessi_data .Alessi_view .Alessi_like p{
    color: red;
    font-family: RobotoCondensed-Light;
    margin-top: 5px;
}

/*timeline started**************/
.wrapper .fourth_section .timeline{
    width: 450px;
    height: 300px;
    float: right;
    background-color: #ebb240;
    overflow: hidden;
    position: relative;
}
.wrapper .fourth_section .timeline .timeline_data{
    width: 130px;
    height: 95px;
    position: absolute;
    z-index: 999999;
    margin-left: 20px;
    margin-top: 85px;
}
.wrapper .fourth_section .timeline .timeline_data .left_data{
    float: left;
    width: 50px;
    height: 95px;
}
.wrapper .fourth_section .timeline .timeline_data .left_data i{
    color: #ffffff;
    animation: moving 1s infinite;
    position: relative;
    font-size: 22px;
}
.wrapper .fourth_section .timeline .timeline_data .right_data{
    width: 70px;
    height: 95px;
    float: right;
    text-align: left;
}
.wrapper .fourth_section .timeline .timeline_data .right_data p span{
    color: #000000;
    font-family: "Myriad Pro";
    font-size: 16px;
    width: 100%;
    margin: 0;
    text-transform: uppercase;
}
.wrapper .fourth_section .timeline .timeline_data .right_data p{
    color: #ffffff;
    font-family: "Myriad Pro";
    font-size: 14px;
    margin: 0;
    width: 50px;
}



.wrapper .fourth_section .timeline hr{
    position: absolute;
    width: 868px;
    transform: rotate(-45deg);
    background-color: white;
    margin-left: -336px;
    margin-top: 198px;
    border: none;
}

/*studio_section started**********************/
.wrapper .studio{
    width:100%;
    height:500px;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

/*studio started*********/
.wrapper .studio .left_studio{
    width: 465px;
    height: 500px;
    float: left;
    background-color: #ff9b6d;
    overflow: hidden;
    position: relative;
}
.wrapper .studio .left_studio .left_studio_title{
    width: auto;
    height:auto;
    position: absolute;
    z-index: 99999;
    overflow: hidden;
    right:30px;
    bottom:150px;
    margin-right: 90px;
}
.wrapper .studio .left_studio .left_studio_title h1{
    color: #ffffff;
    font-size: 45px;
    text-transform: uppercase;
    font-family: RobotoCondensed-Light;
    margin: 0;
}

.wrapper .studio .left_studio hr{
    position: absolute;
    width: 1142px;
    transform: rotate(-47deg);
    background-color: white;
    margin-left: -185px;
    margin-top: 85px;
    border: none;
}

/*right_studio*************/
.wrapper .studio .right_studio{
    width: 884px;
    height: 500px;
    float: right;
    background-color: #e9eae2;
    overflow: hidden;
}

.wrapper .studio .right_studio .awards{
    width: 700px;
    height: 360px;
    margin: 60px 125px;
}
.wrapper .studio .right_studio .awards .left_awards{
    width: 320px;
    height: 360px;
    float: left;
}
.wrapper .studio .right_studio .awards .left_awards p:nth-of-type(1){
    font-family: RobotoCondensed-BoldItalic;
}
.wrapper .studio .right_studio .awards .left_awards p:nth-of-type(2){
    font-family: RobotoCondensed-BoldItalic;
}
.wrapper .studio .right_studio .awards .left_awards p{
    font-family: RobotoCondensed-Light;
    font-size: 17px;
}
.wrapper .studio .right_studio .awards .right_awards{
    width: 320px;
    height: 360px;
    float: right;
}
.wrapper .studio .right_studio .awards .right_awards img{
    border: 1px solid #b5b5b5;
}
.wrapper .studio .right_studio .awards .right_awards .botton_rightawards{
    width: 100%;
}
.wrapper .studio .right_studio .awards .right_awards .botton_rightawards h4{
    font-family: RobotoCondensed-Bold;
    text-transform: uppercase;
    margin-bottom: 0;
}
.wrapper .studio .right_studio .awards .right_awards .botton_rightawards .links_left{
    width: 120px;
    float: left;
}
.wrapper .studio .right_studio .awards .right_awards .botton_rightawards .links_left a{
    display: inline-block;
    font-size: 14px;
    color: black;
    text-decoration: none;
}
.wrapper .studio .right_studio .awards .right_awards .botton_rightawards .links_right{
    float: right;
    width: 120px;
}
.wrapper .studio .right_studio .awards .right_awards .botton_rightawards .links_right a{
    display: inline-block;
    font-size: 14px;
    color: black;
    text-decoration: none;
}


/*staff section*********/
.wrapper .staff{
    height:275px;
    margin: 0;
    overflow: hidden;
    background-color: #e9eae2;
    padding:100px 50px;
}

/*staff start************/
.wrapper .staff .staff_data{
    height: auto;
    overflow: hidden;
}
.wrapper .staff .staff_data .left_staff{
    width: 270px;
    height: auto;
    float: left;
}
.wrapper .staff .staff_data .left_staff h4{
    font-family: RobotoCondensed-Regular;
}
.wrapper .staff .staff_data .left_staff p{
    font-family: RobotoCondensed-Light;
    font-size: 14px;
}
.wrapper .staff .staff_data .right_staff{
    width: 850px;
    float: right;
    overflow: hidden;
    height: auto;
}
.wrapper .staff .staff_data .right_staff .our_client{
    width: 270px;
    height: 272px;
    float: left;
    overflow: hidden;
    margin-left: 11px;
}

.wrapper .staff .staff_data .right_staff .our_client .staff_photo{
    box-shadow: 1px 1px 7px grey;
    width: 270px;
    height: 151px;
    position: relative;
    overflow: hidden;
}
.wrapper .staff .staff_data .right_staff .our_client .staff_photo img{
    position: absolute;
    transition:all 1s;
    width:100%;
}
.wrapper .staff .staff_data .right_staff .our_client .staff_photo img:hover{
    transform:scale(2,2);
}

.wrapper .staff .staff_data .right_staff .our_client h2{
    font-family: RobotoCondensed-Bold;
    text-transform: uppercase;
    font-size: 18px;
    margin-bottom: 0;
}
.wrapper .staff .staff_data .right_staff .our_client h4{
    font-family: RobotoCondensed-Regular;
    text-transform: uppercase;
    font-size: 16px;
    margin-top: 0;
}
.wrapper .staff .staff_data .right_staff .our_client .connect{
    width: 100%;
    height: auto;
    overflow: hidden;
    margin-top: 30px;
}
.wrapper .staff .staff_data .right_staff .our_client .connect .cv{
    float: left;
    width: auto;
}
.wrapper .staff .staff_data .right_staff .our_client .connect .cv a{
    color: #fd5000;
    font-size: 18px;
    float: left;
    text-decoration: none;
    margin-right: 10px;
    font-family: RobotoCondensed-Regular;
}
.wrapper .staff .staff_data .right_staff .our_client .connect .cv i{
    color: #fd5000;
    font-size: 20px;
    float: left;
    text-decoration: none;
}
.wrapper .staff .staff_data .right_staff .our_client .connect .soical_staff{
    float: right;
    width: auto;
}
.wrapper .staff .staff_data .right_staff .our_client .connect .soical_staff ul{
    margin: 0;
    padding: 0;
}
.wrapper .staff .staff_data .right_staff .our_client .connect .soical_staff ul li{
    list-style: none;
    float: left;
}
.wrapper .staff .staff_data .right_staff .our_client .connect .soical_staff ul li a{
    color:  #fd5000;
    font-size: 14px;
    margin-right: 9px;
}
/*news section******************/
.wrapper .news{
    height: 500px;
    background-color: #e5e9df;
}
/*left_news******/
.wrapper .news .left_news{
    width: 465px;
    height: 500px;
    float: left;
    background-color: #d4edbf;
    overflow: hidden;
    position: relative;
}
.wrapper .news .left_news .left_news_title{
    width: auto;
    height:auto;
    position: absolute;
    z-index: 99999;
    overflow: hidden;
    right:50px;
    bottom:150px;
    margin-right: 100px;
    margin-top: 50px;
}

.wrapper .news .left_news .left_news_title h1{
    color: #ffffff;
    font-size: 45px;
    text-transform: uppercase;
    font-family: RobotoCondensed-Light;
    margin: 0;
}
.wrapper .news .left_news hr{
    position: absolute;
    width: 1142px;
    transform: rotate(-47deg);
    background-color: white;
    margin-left: -185px;
    margin-top: 85px;
    border: none;
}
/*right_news************/
.wrapper .news .right_news{
    padding: 55px;
    float: left;
}
.wrapper .news .right_news .news_1{
    float: left;
    width: 370px;
    height: auto;
    margin-left: 30px;
}
.wrapper .news .right_news .news_1:first-child{
    margin-left:0;
}
.wrapper .news .right_news .news_1 h1{
    margin: 0;
    font-family: RobotoCondensed-Bold;
    font-size: 24px;
}
.wrapper .news .right_news .news_1 h6{
    font-family: RobotoCondensed-Regular;
    color: #6a6969;
    font-size: 12px;
    margin-top:5px;
}
.wrapper .news .right_news .news_1 p{
    font-family: RobotoCondensed-Regular;
    color: #6a6969;
    font-size: 12px;
    margin-top:15px;
    text-align: justify;
}
.wrapper .news .right_news .news_1 a{
    float: right;
    text-decoration: none;
    color: #fd5000;
    text-transform: uppercase;
    font-family: RobotoCondensed-Regular;
    font-size: 12px;
}
.wrapper footer{
    height: 650px;
    background-color: #e9eae2;
}
.wrapper footer .google_map{
    width: 750px;
    height: 650px;
    float: left;
    box-shadow: 2px 2px 5px #b5b5b5 ;
}
.wrapper footer .right_footer{
    float: left;
    padding:100px;
}
.wrapper footer .right_footer .left{
    float: left;
    width:120px;
    height: 120px;
    margin-right: 100px;
}
.wrapper footer .right_footer .left p{
    font-family: RobotoCondensed-Regular;
    font-size: 12px;
    margin: 0;
}
.wrapper footer .right_footer .left p:last-child{
    margin-top: 20px;
}
.wrapper footer .right_footer .right{
     float: left;
    width: 170px;
    height: 350px;
}
.wrapper footer .right_footer .right .logo .header_paragraph{
    color: #000000;
    font-size: 18px;
    text-transform: uppercase;
    width: 90px;
    height: auto;
    font-family: "Myriad Pro";
}

.wrapper footer .right_footer .right .logo .social{
    width: 120px;
    height: auto;
    overflow: hidden;
    margin-top: 45px;
    margin-left: 30px;
}
.wrapper footer .right_footer .right .logo .social ul{
    margin: 0;
    padding: 0;
}
.wrapper footer .right_footer .right .logo .social ul li{
    list-style: none;
    float: left;
}
.wrapper footer .right_footer .right .logo .social ul li a{
    color: #7bcbc1;
    font-size: 23px;
    margin-right: 9px;
    transition: all 1s;
}
.wrapper footer .right_footer .right .logo .social ul li a:hover{
    color: #ebb240;
}
.wrapper footer .bottom{
    padding: 0 125px;
    width: auto;
    height: auto;
    float: left;
}
.wrapper footer .bottom p{
    font-family: RobotoCondensed-Regular;
    font-size: 13px;
}

























